.container-fluid{
    background-color: #FFF;
}
#esse {
    color:green;
}
.botao a {
    margin: 0.5%;
   
}
.botao_paciente {
    margin: 0.5%;
   
}
#link {
    color: black;
  text-decoration: none;

}